@page
@model CookieBasedAuthentication.IndexModel
@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Hello @User.Identity.Name</h2>
} else
{
    <h2>You are not authenticated!</h2>
}


