@page
@model CookieBasedAuthentication.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<h2>@ViewData["OnPostSuccess"]</h2>
<form method="post">
    <input type="submit" value="Send" />
</form>

